<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script type="text/javascript">
    function myFunction() {
      document.getElementById("clear").value = " ";
    }

    </script>

    <style media="screen">
    #result{
      color: green;
    }

    #bad{
      color: red;
    }

    </style>
    <title>Grammar</title>
  </head>
  <body style="color:white; background-color:#8ed1d1; font-family: 'Montserrat', sans-serif; ">
    <div class="container" style="text-align:center;">
      <div class="jumbotron bg-dark">
          <h1>Grammar Check</h1>
      </div>
    </div>

    <div class="container">
    <form method="post">
      {% csrf_token %}
        <div class="row">
          <div class="col-sm-8">
              <div class="form-group">
                <textarea id="clear" class="form-control" name="TextArea" rows="8" cols="80" placeholder="Content goes here">{{value}}</textarea>
              </div>
            <button type="submit" name="button" class="btn btn-primary">Check</button> <button type="button" class="btn btn-secondary" onclick="myFunction()">Clear</button>
          </div>
          <div class="col-4">
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-success rounded">Word count: <span id="result">{{wordcount}}</span></li>
              <li class="list-group-item list-group-item-success rounded">Character count: <span id="result">{{charatercount}}</span></li>
              <li class="list-group-item list-group-item-success rounded">Grammar Score: <span id="result">{{ grammer.score }}%</span></li>
              <br>
                {% if grammer.score != 100 %}
                  <li class="list-group-item list-group-item-danger rounded">Potential Errors</li>
                <ul class="list-group">
                  {%for err in grammer.errors %}
                    <li class="list-group-item list-group-item-warning rounded"><span style="color:red;"><span id="bad">{{err.bad}}</span></span> --> <span id="result">{{err.better}}</span></li>
                  {% endfor %}
                </ul>
                {% endif %}
            </ul>
          </div>
        </div>
    </form>
    </div>


    <!--Footer-->
    <footer class="page-footer rounded" style="margin-bottom:10px; margin-top:45px;">

    <div class="jumbotron-fluid bg-dark">
            <small>Akshay Reddy</small>
            <br>
            <small><b style="color:orange;">Email:</b></small><small class="font-weight-light"> m.akshaymreddy@gmail.com</small>
            <br>
            <a href="https://www.linkedin.com/in/akshaymreddy/" class="badge badge-light" target="_blank">LinkedIn</a>  <a href="https://github.com/akshayreddy" class="badge badge-light" target="_blank">GitHub</a>
    </div>
  </footer>
<!--/.Footer-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
